In [1]:
import pandas as pd

In [2]:
A = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
A

a    1
b    2
c    3
d    4
dtype: int64

In [9]:
print(A.values)
print(type(A.values))
print(A.index)
print(type(A))
print(type(A.index))

[1 2 3 4]
<class 'numpy.ndarray'>
Index(['a', 'b', 'c', 'd'], dtype='object')
<class 'pandas.core.series.Series'>
<class 'pandas.core.indexes.base.Index'>

In [11]:
A['a':'c']  # A.loc['a':'c']

a    1
b    2
c    3
dtype: int64

In [13]:
A[0:2]  # A.iloc[0: 2]

a    1
b    2
dtype: int64

In [15]:
B = pd.Series([1, 2, 3, 'sldkjf'])
B

0         1
1         2
2         3
3    sldkjf
dtype: object

In [17]:
print(B.index)
print(type(B.index))

RangeIndex(start=0, stop=4, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>

In [19]:
print(A.mean())
print(A.min())

2.5
1

**creating from dictionary**

In [21]:
marks = {'A': 70, 'B': 56, 'C': 30}

mark = pd.Series(marks)
mark

A    70
B    56
C    30
dtype: int64

In [23]:
grades = {'A': 2, 'B': 1, 'C': 4}

grade = pd.Series(grades)
grade

A    2
B    1
C    4
dtype: int64

**Data Frame**

In [25]:
D = pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10,11, 12]])
D

   0   1   2   3
0  1   2   3   4
1  5   6   7   8
2  9  10  11  12

In [26]:
pd.DataFrame([[1,2,3,4], [5,6,7,8], [9,10,11, 12]], ['r1', 'r2', 'r3'], ['a', 'b', 'c', 'd'])

    a   b   c   d
r1  1   2   3   4
r2  5   6   7   8
r3  9  10  11  12

In [28]:
E = pd.DataFrame({'Marks': mark, 'Grades': grade})
E

   Marks  Grades
A     70       2
B     56       1
C     30       4

In [32]:
E['Marks']

A    70
B    56
C    30
Name: Marks, dtype: int64

In [33]:
E.T

         A   B   C
Marks   70  56  30
Grades   2   1   4

In [34]:
E.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Marks   3 non-null      int64
 1   Grades  3 non-null      int64
dtypes: int64(2)
memory usage: 152.0+ bytes

In [36]:
E.values

array([[70,  2],
       [56,  1],
       [30,  4]])

In [38]:
print(type(E.values))

<class 'numpy.ndarray'>

In [40]:
E.mean()

Marks     52.000000
Grades     2.333333
dtype: float64

**add delete index**

In [41]:
E

   Marks  Grades
A     70       2
B     56       1
C     30       4

In [44]:
E['Scaled Marks'] = E['Marks'] * 100  / 90

In [45]:
E

   Marks  Grades  Scaled Marks
A     70       2     77.777778
B     56       1     62.222222
C     30       4     33.333333

In [46]:
del E['Scaled Marks']

In [47]:
E

   Marks  Grades
A     70       2
B     56       1
C     30       4

In [51]:
E[E['Marks'] != 56]

   Marks  Grades
A     70       2
C     30       4

In [52]:
MD = pd.DataFrame([ {'A': 90, 'B':80}, {'A': 70, 'C':69}, {'A':30, 'B': 35, 'C':10} ])
MD

    A     B     C
0  90  80.0   NaN
1  70   NaN  69.0
2  30  35.0  10.0

In [53]:
MD.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       2 non-null      float64
 2   C       2 non-null      float64
dtypes: float64(2), int64(1)
memory usage: 200.0 bytes



1.   remove item
2.   remove column
3.   replace

In [55]:
MD.dropna()

    A     B     C
2  30  35.0  10.0

In [56]:
del MD["B"]

In [58]:
MD

    A     C
0  90   NaN
1  70  69.0
2  30  10.0

In [59]:
MD = pd.DataFrame([ {'A': 90, 'B':80}, {'A': 70, 'C':69}, {'A':30, 'B': 35, 'C':10} ])
MD

    A     B     C
0  90  80.0   NaN
1  70   NaN  69.0
2  30  35.0  10.0

In [61]:
MD.fillna(0)

    A     B     C
0  90  80.0   0.0
1  70   0.0  69.0
2  30  35.0  10.0

**Read cvs**

In [62]:
df = pd.read_csv('https://raw.githubusercontent.com/neylsoncrepalde/projeto_eda_covid/master/covid_19_data.csv')
df

         SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0          1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1          2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2          3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3          4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4          5      01/22/2020          Gansu  ...       0.0    0.0        0.0
...      ...             ...            ...  ...       ...    ...        ...
26708  26709      05/19/2020        Wyoming  ...     776.0   10.0        0.0
26709  26710      05/19/2020       Xinjiang  ...      76.0    3.0       73.0
26710  26711      05/19/2020          Yukon  ...      11.0    0.0       11.0
26711  26712      05/19/2020         Yunnan  ...     185.0    2.0      183.0
26712  26713      05/19/2020       Zhejiang  ...    1268.0    1.0     1267.0

[26713 rows x 8 columns]

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              26713 non-null  int64
 1   ObservationDate  26713 non-null  object
 2   Province/State   12882 non-null  object
 3   Country/Region   26713 non-null  object
 4   Last Update      26713 non-null  object
 5   Confirmed        26713 non-null  float64
 6   Deaths           26713 non-null  float64
 7   Recovered        26713 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 1.6+ MB

In [65]:
df.head(8)

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0
5    6      01/22/2020      Guangdong  ...      26.0    0.0        0.0
6    7      01/22/2020        Guangxi  ...       2.0    0.0        0.0
7    8      01/22/2020        Guizhou  ...       1.0    0.0        0.0

[8 rows x 8 columns]

**Drop col and row**

In [67]:
df = df.rename(columns = {'ObservationDate': 'Date', 'Province/State': 'State', 'Country/Region': 'Country' })

In [68]:
df

         SNo        Date      State  ... Confirmed Deaths  Recovered
0          1  01/22/2020      Anhui  ...       1.0    0.0        0.0
1          2  01/22/2020    Beijing  ...      14.0    0.0        0.0
2          3  01/22/2020  Chongqing  ...       6.0    0.0        0.0
3          4  01/22/2020     Fujian  ...       1.0    0.0        0.0
4          5  01/22/2020      Gansu  ...       0.0    0.0        0.0
...      ...         ...        ...  ...       ...    ...        ...
26708  26709  05/19/2020    Wyoming  ...     776.0   10.0        0.0
26709  26710  05/19/2020   Xinjiang  ...      76.0    3.0       73.0
26710  26711  05/19/2020      Yukon  ...      11.0    0.0       11.0
26711  26712  05/19/2020     Yunnan  ...     185.0    2.0      183.0
26712  26713  05/19/2020   Zhejiang  ...    1268.0    1.0     1267.0

[26713 rows x 8 columns]

In [71]:
df['Date'] = pd.to_datetime(df['Date'])

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26713 entries, 0 to 26712
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SNo          26713 non-null  int64
 1   Date         26713 non-null  datetime64[ns]
 2   State        12882 non-null  object
 3   Country      26713 non-null  object
 4   Last Update  26713 non-null  object
 5   Confirmed    26713 non-null  float64
 6   Deaths       26713 non-null  float64
 7   Recovered    26713 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 1.6+ MB

In [76]:
df.drop(['SNo', 'Last Update'], axis=1, inplace = True)
df.head()

        Date      State         Country  Confirmed  Deaths  Recovered
0 2020-01-22      Anhui  Mainland China        1.0     0.0        0.0
1 2020-01-22    Beijing  Mainland China       14.0     0.0        0.0
2 2020-01-22  Chongqing  Mainland China        6.0     0.0        0.0
3 2020-01-22     Fujian  Mainland China        1.0     0.0        0.0
4 2020-01-22      Gansu  Mainland China        0.0     0.0        0.0

In [83]:
df.groupby('Country')[['Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

                            Country  Confirmed   Deaths  Recovered
0                        Azerbaijan        1.0      0.0        0.0
1                   ('St. Martin',)        2.0      0.0        0.0
2                       Afghanistan   115615.0   3211.0    13641.0
3                           Albania    34319.0   1408.0    20212.0
4                           Algeria   183263.0  19089.0    76184.0
..                              ...        ...      ...        ...
218                  Western Sahara      256.0      0.0      144.0
219                           Yemen     1190.0    190.0       30.0
220                          Zambia     8987.0    166.0     3102.0
221                        Zimbabwe     1386.0    171.0      226.0
222  occupied Palestinian territory       25.0      0.0        0.0

[223 rows x 4 columns]

In [84]:
df.groupby(['Country', 'Date'])[['Confirmed', 'Deaths', 'Recovered']].sum().reset_index()

                              Country       Date  Confirmed  Deaths  Recovered
0                          Azerbaijan 2020-02-28        1.0     0.0        0.0
1                     ('St. Martin',) 2020-03-10        2.0     0.0        0.0
2                         Afghanistan 2020-02-24        1.0     0.0        0.0
3                         Afghanistan 2020-02-25        1.0     0.0        0.0
4                         Afghanistan 2020-02-26        1.0     0.0        0.0
...                               ...        ...        ...     ...        ...
14696  occupied Palestinian territory 2020-03-12        0.0     0.0        0.0
14697  occupied Palestinian territory 2020-03-14        0.0     0.0        0.0
14698  occupied Palestinian territory 2020-03-15        0.0     0.0        0.0
14699  occupied Palestinian territory 2020-03-16        0.0     0.0        0.0
14700  occupied Palestinian territory 2020-03-17        0.0     0.0        0.0

[14701 rows x 5 columns]